@model CheckersProject.Models.Board

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="chessboard">
        @foreach (var cell in Model.Cells)
        {
            if (cell.colour == teamColour.black)
            {
                if (cell.piece != null)
                {
                    <div class="black" id="cell-@cell.index" onclick="showPossibleMoveDiv(this, @Model.Id)">
                        @if (cell.piece.team == teamColour.white)
                        {
                            <div class="checker white-checker" draggable="true"></div>
                        }
                        @if (cell.piece.team  == teamColour.black)
                        {
                            <div class="checker black-checker" draggable="true"></div>
                        }
                    </div>
                }
                else{
                    <div class="black">
                        <div class="checker possible-move" hidden="hidden" id="cell-@cell.index" onclick="makeMove(this, @Model.Id, @(User.Claims.FirstOrDefault(c => c.Type == "id")?.Value))"></div>
                    </div>
                }

            }
            else
            {
                <div class="white">
                </div>
            }
        }
    </div>
</div>